bp-control {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: start;
  align-items: center;
  row-gap: 0.25rem;
  column-gap: 0.25rem;
}

bp-sample {
  display: flex;
  column-gap: 2px;
  align-items: center;
}

.red-char {
  color: red;
}
.bp-number {
  width: 3ch;
  height: 2.5rem;
}
.bp-number::-webkit-outer-spin-button,
.bp-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.bp-time,
.bp-button {
  height: 2.5rem;
  margin: 0;
}

bp-control {
  outline: 2px solid red;
}

bp-control > * {
  outline: 1px solid blue;
}

bp-sample > * {
  outline: 1px solid green;
}
